/* For screens over 900px wide */
@media only screen and (min-width: 901px) {
    .mobile, .tablet {
        display: none;
    }
    .desktop {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}

/* For screens between 400px and 900px wide */
@media only screen and (min-width: 450px) and (max-width: 900px) {
    .mobile, .desktop {
        display: none;
    }
    .tablet {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}

/* For screens less than 400px wide */
@media only screen and (max-width: 449px) {
    .desktop, .tablet {
        display: none;
    }
    .mobile {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}
