/* For screens over 800px wide */
@media (min-width: 2401px) {
    .mobile, .tablet, .desktop {
        display: none;
    }
    .widescreen {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}

/* For screens between 800px and 2400px wide */
@media (min-width: 800px) and (max-width: 2400px) {
    .mobile, .tablet, .widescreen {
        display: none;
    }
    .desktop {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}

/* For screens between 400px and 800px wide */
@media (min-width: 400px) and (max-width: 800px) {
    .mobile, .desktop, .widescreen {
        display: none;
    }
    .tablet {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}

/* For screens less than 400px wide */
@media (max-width: 399px) {
    .desktop, .tablet, .widescreen {
        display: none;
    }
    .mobile {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}
