/* For screens over 800px wide */
@media (min-width: 801px) {
    .mobileShow, .tabletShow {
        display: none;
    }
    .desktopShow {
        display: initial;
    }
}

/* For screens between 400px and 800px wide */
@media (min-width: 400px) and (max-width: 800px) {
    .mobileShow, .desktopShow {
        display: none;
    }
    .tabletShow {
        display: initial;
    }
}

/* For screens less than 400px wide */
@media (max-width: 399px) {
    .desktopShow, .tabletShow {
        display: none;
    }
    .mobileShow {
        display: initial;
    }
}
