:root {
  --dark-gray: #121417;
  --mid-gray: #25282d;
  --light-gray: #373c44;
  
  --dark-blue: #0059b3;
  --light-blue: #007FFF;
}

body {
  overflow: hidden;
  margin: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(25deg, var(--dark-gray) 0%, var(--mid-gray) 100%);
}

.titlefadechange {
  --bg-size: 400%;
  font-family: sans-serif;
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--dark-blue),
      var(--light-blue),
      var(--dark-blue)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: auto;
}

.titletext {
  text-align: center;
  font-size: clamp(3rem, 25vmin, 8rem);
  color: white;
  font-family: sans-serif;
  margin-bottom: auto;
  margin-top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .titlefadechange {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

