.tablet {
  width: 100vw;
  height: 100vh;
}

.tabletheader {
  position: absolute;
  width: 100vw;
  height: 7vh;
  overflow: hidden;
}

.desktoptitle {  
  width: 100vw;
  height: 93vh;
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tabletline1"
    "tabletline2"
    "tabletline3";
}

.tabletline1 { grid-area: tabletline1; }

.tabletline2 { grid-area: tabletline2; }

.tabletline3 { grid-area: tabletline3; }

